<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	
	<!-- 声明 ClientSocket类-->
	<bean id="clientSocket" class="client.ClientSocket"/>
	<!-- 声明NetServerImpl-->
	<bean id="netServerImpl" class="serverimpl.NetServerImpl">
		<property name="clientSocket" ref="clientSocket"/>
	</bean>
	<!-- 声明DiskServerImpl -->
	<bean id="diskServerImpl" class="serverimpl.DiskServerImpl">
		<property name="clientSocket" ref="clientSocket"/>
	</bean>
    <!-- struts2的action的配置 -->
    <bean id = "action" class="action.BaseAction">
        <property name="netServer" ref="netServerImpl"/>
        <property name="diskServer" ref="diskServerImpl"/>
    </bean>
 
</beans>